/* DejaVu Sans Mono代码字体样式表 */
@import url("https://fonts.cdnfonts.com/css/dejavu-sans-mono");
@font-face {
    font-family: "DejaVu Sans Mono";
}
:root {
    --md-code-font: "DejaVu Sans Mono", "ZSFT-hk";
}

.md-typeset code,
.md-typeset pre code,
.highlight pre {
    font-family: "DejaVu Sans Mono", "ZSFT-hk";
}
