@font-face {
    font-family: 'MiSans';
    src: url('../assets/fonts/MiSans-Regular.ttf') format('truetype');
}

:root {
    --md-text-font: "MiSans"; 
    --code-font-color: #e96900;
}

blockquote {
    font-style: normal;
    /* border-left: 5px solid rgb(13, 197, 0); */
    padding-left: 2em;
    /* 文字离左边框的距离 */
    padding-right: 2em;
    /* 左边框离页面边的距离 */
    padding-bottom: 2px;
    margin-left: 0;
    /* background-color: rgba(175, 255, 135, 0.443); */
    border-left: 4px solid #275796;
    background-color: #e5f4fd;
    border-radius: 5px;
}

/* @keyframes flyIn {
    from {
        opacity: 0;
        transform: translateX(-20px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

body > * {
    animation: flyIn 0.6s ease-out;
    /* Removed any additional styles that might cause borders */
/* } */ 

@keyframes flyIn {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

main {
    animation: flyIn 0.6s cubic-bezier(0.25, 0.8, 0.25, 1) forwards;
    will-change: transform, opacity;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'MiSans', sans-serif;
    color: #21416c;
}