/* 江城黑体字体样式表 */
:root {
    --md-text-font: "JiangChengHeiTi 400W", "STDongGuanTi", "OPPOSans", sans-serif !important;
}

body, .md-typeset, .md-content {
    font-family: "JiangChengHeiTi 400W", "STDongGuanTi", "OPPOSans", sans-serif !important;
}