/* OPPO Sans字体样式表 */
:root {
    --md-text-font: "OPPOSans", "STDongGuanTi", "JiangChengHeiTi 400W", sans-serif !important;
}

body, .md-typeset, .md-content {
    font-family: "OPPOSans", "STDongGuanTi", "JiangChengHeiTi 400W", sans-serif !important;
}