/* OPPO Sans主字体 */
@import url("https://fonts.cdnfonts.com/css/opposans");
/* OPPO Sans字体样式表 */
:root {
    --md-text-font: "OPPOSans", "STDongGuanTi", "JiangChengHeiTi 400W", sans-serif;
}
body,
.md-typeset,
.md-content {
    font-family: "OPPOSans", "STDongGuanTi", "JiangChengHeiTi 400W", sans-serif;
}
