site_name: 日常学习帮助网站
use_directory_urls: false

theme:
  name: 'material'
  features:
    - header.autohide
    - navigation.tabs
    - navigation.top
    - search.suggest
    - search.highlight
    - content.tabs.link
  icon:
    repo: fontawesome/brands/git-alt
  language: zh
  primary: red
  accent: light blue
  palette:
    - scheme: default
      toggle:
        icon: material/brightness-7 
        name: Switch to dark mode
    - scheme: slate
      toggle:
        icon: material/brightness-4
        name: Switch to light mode

copyright: Copyright &copy; 2024 EPSDA

nav:
  - 主页: index.md
  - C语言:
    - C语言基础知识: C语言基础知识/1. C语言基础知识/1. C语言基础知识.md
    - 进制转换与类型在内存的存储方式: C语言基础知识/2. 进制转换与类型在内存中存储方式/2. 进制转换与类型在内存中存储方式.md
  - 数据结构:
    - 时间复杂度和空间复杂度: 数据结构/1. 时间复杂度和空间复杂度/1. 时间复杂度与空间复杂度.md
  - C++: 
    - C语言过渡C++基础知识: C++基础知识/1. C语言过渡C++基础知识/1. C语言过渡C++基础知识.md
  - Linux:
    - Linux常用选项和指令: Linux/1. Linux常用选项和指令/1. Linux常用选项和指令.md
  - 算法:
    - 双指针算法: 算法/1. 双指针算法/1. 双指针算法.md
    

markdown_extensions:
  - admonition
  - pymdownx.details
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - pymdownx.superfences
  - md_in_html
  - tables
  - pymdownx.arithmatex:
      generic: true
  - pymdownx.highlight:
      linenums: true  # 启用行号显示
      anchor_linenums: true
  - toc:
      permalink: true
      baselevel: 1  # 开始级别
      toc_depth: 3  # 最大深度

extra_javascript:
  - javascripts/mathjax.js
  - https://polyfill.io/v3/polyfill.min.js?features=es6
  - https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js

extra:
  social:
    - icon: fontawesome/brands/github
      link: https://github.com/H0308

plugins:
  - search
  - glightbox:
      touchNavigation: true
      loop: false
      effect: zoom
      slide_effect: slide
      width: 100%
      height: auto
      zoomable: true
      draggable: true
      skip_classes:
        - custom-skip-class-name
      auto_caption: false
      caption_position: bottom
      background: white
      shadow: true
      manual: false

repo_url: https://github.com/H0308/HelperSite
repo_name: H0308/HelperSite