site_name: 日常学习帮助网站
use_directory_urls: false

theme:
  name: 'material'
  features:
  - header.autohide

nav:
  - 主页: index.md
  - C++教程: 
    - list类模拟实现: 12. list模拟实现/12. list类模拟实现.md

markdown_extensions:
  - pymdownx.arithmatex:
      generic: true

extra_javascript:
  - javascripts/mathjax.js
  - https://polyfill.io/v3/polyfill.min.js?features=es6
  - https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js

markdown_extensions:
- pymdownx.highlight:
    anchor_linenums: true
- pymdownx.inlinehilite
- pymdownx.snippets
- pymdownx.superfences